
<body>
	
	<% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogueado') %>
     <% } else { %>
        <%- include('./partials/header') %>
    <% } %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action = "/users/login/redirect/" method= 'POST' class="form">
				
				<div class="div">
				 <label for="email">Usuario:</label class="label">
				 <input type="email"name="email" id="email" required></input>
				 <% if (locals.errors && errors.email) {%>
					<p>
						<%=errors.email.msg %>
					</p>
					<% } %>
				</div>
				<div class="div">
				 <label for="password">Contraseña:</label class="label">
				 <input type="password" name="password" id="password" ></input>
				 <% if (locals.errors && errors.password) {%>
					<p>
						<%=errors.password.msg %>
					</p>
					<% } %>
				</div>
				<div class="div">
					<label for="Recordarme">Recordarme:</label>
					<input type="checkbox" name="rememberme" value="" ></input>
				</div>
				<div class="div">
					<button class="button" type="submit">Iniciar sesión</button>
				</div>
			</form>

	<%- include("./partials/footer") %>

</body>
</html>