<body>

	<body>

		<!-- Header -->
		<% if (locals.user != undefined) { %>
			<%- include('./partials/headerLogueado') %>
		 <% } else { %>
			<%- include('./partials/header') %>
	    <% } %>
			<!-- Header -->
	
		<!-- product detail -->
		<div class="container products-wrapper">
			<div class="d-flex align-items-center">
				 <h2 class="products-title"><%= producto.nombre %></h2> 
				 <p class="product-detail-description">
					<% if (locals.user != undefined && locals.user.id == producto.Usuario.id) { %>
						<a href="/product/productEdit/<%= producto.id %>">Editar</a>
						<span></span>
						<a href="/product/productDelete/<%= producto.id %>">Borrar</a>
					<% } %>
				</p>
			</div>
			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src = <%= producto.foto %> alt="" class="product-detail-img">
						<p class="product-detail-description">
							<%= producto.descripcion %> </p>
						<p class="product-detail-description">Publicado por: <strong><a href="/users/profile/<%= producto.Usuario.id %>"></strong><%= producto.Usuario.nombre %></a></p>
					</article>
					<div class="col-12 col-lg-4">
						<section class="comments">
	
						<% if (producto.Comentario) { %>
							<% for (let i = 0; i < producto.Comentario.length; i++) { %>
							
								<article>
									<img src= <%= producto.Comentario[i].Usuario.foto %> alt="Foto de perfil">
									<div class="data">
										<p class="user">
										<strong> <a href="/users/profile/<%= producto.Usuario.id %>"> <%= producto.Comentario[i].Usuario.nombre %> </a> </strong>
										<%= producto.Comentario[i].textoComentario %></p>
									</div>
								</article>
							<% } %>
						<% } else { %>
							<article>
								<h2>Aún no existen comentarios para este producto.</h2>
							</article>
						<% } %>
	
						</section>
						<% if (locals.user != undefined) { %>
							<form class="form" action="/product/comment" method="post">
								<input class="form-input" name="comentario" type="text" value="" placeholder="Agregar comentario">
								<input type="hidden" name="usuarioId" value="<%= producto.Usuario.id %>" />
								<input type="hidden" name="productoId" value="<%= producto.id %>" />
								<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
							</form>
							<hr>
							<% } else { %>
								<form class="form" action="/users/login" method="get">
									<button type="submit" class="button">Debes estar logueado para comentar</button>
								</form>
								<hr>
					    <% } %>
					</div>
				</div>
			</div>
		</div>
		<!-- /product detail -->
	
		<%- include("./partials/footer") %>
		
	</body>	
	</html>