
<body>
	
	<%- include("./partials/headerLogueado") %>

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src= <%= lista.foto %> alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"><%= lista.nombre %>
						<a href="/users/profileEdit">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li><%= lista.mail%> </li>
						<li><%= lista.Producto.length %></li>
						<li>200 seguidores</li>
						<li><%= lista.Comentario.length %></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			
			<% for (let i = 0; i < lista.Producto.length; i++) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/id/<%= lista.Producto[i].productoId %>">
						
						<figure class="product-box_image">
							<img src= <%= lista.Producto[i].foto %> alt="cafetera moulinex" class= "imagenProductos">
						</figure>
						<article class="product-box_data">
							<h2><%= lista.Producto[i].nombre %></h2>
							<p><%= lista.Producto[i].descripcion %></p>
							<p>Comentarios: <%= lista[i].Comentario.length %></p>
						</article>
					</a>
				</section>
			</div>
			<% } %>

	</div>
	<!-- Novedades -->

	<%- include("./partials/footer") %>

</body>	
</html>