

<body>
	
	<% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogueado') %>
     <% } else { %>
        <%- include('./partials/header') %>
    <% } %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form class="Formulario" action = "/users/register" method= 'POST' class="form">
				<div class="div">
					<label class="label" for="email">Email:</label>
					<input type="email"name="email" id="email" placeholder="ejemplo@gmail.com" ></input>
					<% if (locals.errors && errors.email) { %>
						<p><%= errors.email.msg%></p>
					<% } %>
				</div>
				<div class="div">
					<label for="nombre">Nombre:</label class="label">
					<input type="text"name="nombre" id="nombre" ></input>
					<% if (locals.errors && errors.nombre) { %>
						<p><%= errors.nombre.msg%></p>
					<% } %>
				</div>
				<div>
					<label for="apellido">Apellido:</label class="label">
					<input type="text" name="apellido" id="apellido"  ></input>
					<% if (locals.errors && errors.apellido) { %>
						<p><%= errors.apellido.msg%></p>
					<% } %>
				</div>
				<div class="div">
					<label for="usuario">Usuario:</label class="label">
					<input type="text" name="usuario" id="usuario" placeholder="Pablo123" ></input>
					<% if (locals.errors && errors.usuario) { %>
						<p><%= errors.usuario.msg%></p>
					<% } %>
				</div>
				<div class="div">
					<label for="password">Contraseña:</label class="label">
					<input type="password"name="password" id="password" placeholder="*******" ></input>
					<% if (locals.errors && errors.password) { %>
						<p><%= errors.password.msg%></p>
					<% } %>
				</div>
				<div class="div">
					<label for="fecha">Fecha de nacimiento:</label class="label">
					<input type="date" name="fecha" id="fecha" placeholder="DD/MM/YYYY"></input>
					<% if (locals.errors && errors.fecha) { %>
						<p><%= errors.fecha.msg%></p>
					<% } %>
				</div>
				<div class="div">
					<label for="documento">Numero de documento:</label class="div">
					<input type="number"name="documento" id="documento" placeholder="ej: 45684492"></input>
					<% if (locals.errors && errors.documento) { %>
						<p><%= errors.documento.msg%></p>
					<% } %>
				</div>
				<div class="div">
					<label for="fotoPerfil">Foto de perfil:</label class="label">
					<input type="text"name="fotoPerfil" id="fotoPerfil" placeholder=""></input>
					<% if (locals.errors && errors.fotoPerfil) { %>
						<p><%= errors.fotoPerfil.msg%></p>
					<% } %>
				</div>
				<div class="div">
					<button class="button">Registrarse</button>
				</div>
				</form>

	<%- include("./partials/footer") %>

</body>
</html>