

<body>
	
	<%- include("./partials/header") %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<!-- Show the "ultimos" products -->
				<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<% for (let i = 0; i < lista.length; i++) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src= <%= lista[i].foto %> alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2><%= lista[i].nombre %></h2>
							<p><%= lista[i].descripcion %></p>
							<p>Comentarios: <%= lista[i].comentarios.length %></p>
						</article>
					</a>
				</section>
			</div>
			<%} %>
	</div>
	<!-- Novedades -->

	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<!-- Show the "ultimos" products -->
			<% for (let i = 4; i < lista.length; i++) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product">
							<figure class="product-box_image">
								<img src= <%= lista[i].foto %> alt="cafetera moulinex">
							</figure>
							<article class="product-box_data">
								<h2><%= lista[i].nombre %></h2>
								<p><%= lista[i].descripcion %></p>
								<p>Comentarios: <%= lista[i].comentarios.length %></p>
							</article>
						</a>
					</section>
				</div>
				<%} %>
			
		
		
		</div>
	</div>
	
	<%- include("./partials/footer") %>

</body>
</html>