<body>
	
	<% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogueado') %>
     <% } else { %>
        <%- include('./partials/header') %>
    <% } %>

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<% if (lista && lista.length > 0) { %>
				<% for (let i = 0; i < lista.length; i++) { %>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/product/<%= lista[i].id %>">
								<figure class="product-box_image">
									<img src="<%= lista[i].foto %>" alt="<%= lista[i].nombre %>">
								</figure>
								<article class="product-box_data">
									<h2><%= lista[i].nombre %></h2>
									<p><%= lista[i].descripcion %></p>
									<p>Comentarios: <%= lista[i].comentarios ? lista[i].comentarios.length : 0 %></p>
									<!-- PONELO ACÁ-->
								</article>
							</a>
						</section>
					</div>
					<%} %>
			<% } else { %>
				<p>No hay resultados para su criterio de búsqueda</p>
			<% } %>
		</div>
	</div>
	
	<%- include("./partials/footer") %>

</body>